{% extends 'plantsbase.html' %}

{% block content %}
<div class="container d-flex justify-content-center mt-5  ">
  <div class="card " style="max-width: 940px; border-radius: 25px;">
    <div class="row g-0">
      <div class="col-md-4" style="border-radius: 15px 15px 80px; background-color: rgba(99, 177, 127, 1);">
        {% load static %}
        <img src="{% static '/image/website-LOGO.svg'%}" style="width: 750px; object-fit: cover;  " class="img-fluid rounded-start" alt="LOGO">
      </div>
      <div class="col-md-8">
        <div class="card-body ">
          <h1 class="card-title text-center mb-3 pt-3">LOGIN</h1>
          <div class="row-sm mt-2 mb-5 d-flex justify-content-center">
             <div class="col-sm-3"></div>
             <div class="col-sm-8"><hr></div>
             <div class="col-sm-2"></div>
          </div>
          <form method="post" class="form-group text-center ">
            {% csrf_token %}
            {{form.as_p}}
        
            <button class="btn btn-success px-5" type="submit">Login</button>
          </form>
          <div class="row mt-3 d-flex justify-content-center text-muted">
            <div class="col-sm-1"></div>
            <div class="col-sm-6 d-flex justify-content-end pt-3">You did not reqister yet?</div>
            <div class="col-sm-5 d-flex justify-content-start pt-2 "><a href="{% url 'auth_register'  %}" class="btn btn-white text-success">Register</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}